.emailList {
  flex: 1;
  background: white;
  border-top-left-radius: 10px;
}

.emailList__settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-right: 10px;
  border-top-left-radius: 10px;
}

.emailList__settingsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailList__settingsRight {
  display: flex;
}

.emailList__sections {
  display: flex;
  align-items: center;
  max-width: 600px;
  min-width: 350px;
}
