.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList__settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emailList__settingsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailList__settingsRight {
  display: flex;
}

.emailList__sections {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid whitesmoke;
}
